<footer class="footer mt-5">
    <div class="container">
        <p class="text-center mb-3">&copy;
            <span id="year"></span>, Mirza Naeem Beg.
        </p>
        <div class="row">
            <div class="col-md-6 mb-3 mb-md-0">
                <p><i class="fas fa-map-marker-alt"></i> <strong>Location:</strong> Dhaka, Bangladesh</p>
                <p><i class="fas fa-briefcase"></i> <strong>Open to Opportunities:</strong> Internships, Full-time
                    Positions, Research Collaborations.</p>
            </div>
            <div class="col-md-6">
                <p class="text-md-end"><i class="fa-solid fa-envelope-open-text"></i> <strong>Let's Connect.</strong></p>
                <div class="contact-info text-md-end">
                    <a href="mailto:mirzanaeem278@gmail.com" class="footer-link"><i class="fas fa-envelope"></i></a>
                    <a href="https://www.linkedin.com/in/mirza-naeem-beg/" class="footer-link" target="_blank"><i
                            class="fab fa-linkedin"></i></a>
                    <a href="https://github.com/mirzanaeembeg" class="footer-link" target="_blank"><i
                            class="fab fa-github"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
