<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <div class="navbar-brand">
            <div class="name-container">
                <span class="nav-name">
                    <span class="letter" style="--delay: 0s">M</span>
                    <span class="letter" style="--delay: 0.2s">i</span>
                    <span class="letter" style="--delay: 0.4s">r</span>
                    <span class="letter" style="--delay: 0.6s">z</span>
                    <span class="letter" style="--delay: 0.8s">a</span>
                    <span class="letter" style="--delay: 1.0s">&nbsp;</span>
                    <span class="letter" style="--delay: 1.2s">N</span>
                    <span class="letter" style="--delay: 1.4s">a</span>
                    <span class="letter" style="--delay: 1.6s">e</span>
                    <span class="letter" style="--delay: 1.8s">e</span>
                    <span class="letter" style="--delay: 2.0s">m</span>
                    <span class="letter" style="--delay: 2.2s">&nbsp;</span>
                    <span class="letter" style="--delay: 2.4s">B</span>
                    <span class="letter" style="--delay: 2.6s">e</span>
                    <span class="letter" style="--delay: 2.8s">g</span>
                </span>
            </div>
            <div class="social-links-nav">
                <a href="https://www.linkedin.com/in/mirza-naeem-beg/" target="_blank" class="nav-social-icon">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://x.com/mn_beg" target="_blank" class="nav-social-icon">
                    <i class="fab fa-x-twitter"></i>
                </a>
                <a href="mailto:mirzanaeem278@gmail.com" target="_blank" class="nav-social-icon">
                    <i class="fas fa-envelope"></i>
                </a>
            </div>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="index.html"><i class="fs-6 fa-solid fa-id-badge"></i>
                        <span>About</span></a></li>
                <li class="nav-item"><a class="nav-link" href="education.html"><i class="fs-6 fa-solid fa-graduation-cap"></i>
                        <span>Academic</span></a></li>
                <li class="nav-item"><a class="nav-link" href="skills.html"><i class="fs-6 fa-solid fa-code"></i>
                        <span>Skills</span></a></li>
                <li class="nav-item"><a class="nav-link" href="projects.html"><i class="fs-6 fa-solid fa-folder"></i>
                        <span>Projects</span></a></li>
                <li class="nav-item"><a class="nav-link" href="papers.html"><i class="fs-6 fa-solid fa-file-lines"></i>
                        <span>Papers</span></a></li>
            </ul>
        </div>
    </div>
</nav>
