/* General*/
body {
    line-height: 1.6;
    background-color: #fff;
    color: black;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

/* Sidebar */
.sidebar {
    margin: 10px;
    margin-bottom: 30px;
    transition: all 0.3s;
    background-color: #e9f7ff;
    border-radius: 10px;
}

.sidebar .nav-link {
    margin-top: 10px;
    padding: 0;
    color: #000000;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    gap: 10px;
}

.sidebar .nav-link:hover {
    font-weight: 700;
    border: 1px solid black ;
    border-radius: 10px;
}

.sidebar img {
    max-width: 100%;
    height: auto;
}

/* Navbar */
.navbar {
    transition: all 0.3s;
}

.navbar-nav .nav-link {
    display: inline-block;
    margin-top: 10px;
    padding: 0;
    color: #000000;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}

.navbar-nav .nav-link:hover {
    color: black;
    font-weight: 600;
    border: 1px solid black ;
    border-radius: 10px;
}

/* Section */
section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Introduction */
.intro {
    font-family: 'Times New Roman', Times, serif;
    color: #000000;
    text-align: left;
    font-size: 2.5em;
}
.pic-sec{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.pic-sec .photo .img-fluid{
    max-width: 400px;
    object-fit: cover;
    border-radius: 40%;
}
.name{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    font-size: 2.5em;
    color: #03045e;
}
strong{
    color: #0ead69;
    font-family: 'Times New Roman', Times, serif;
}
.description{
    margin: 10px;
    padding: 15px;
    font-family:'Courier New', Courier, monospace;
    font-size: 1.5rem;
    font-weight: 400;
    border: 4px dashed #15616d;
    box-shadow: 0 0 5px;
    border-radius: 10px;
}
.para-span{
    font-style: italic;
    font-weight: 550;
}

.word{
    font-size: 2rem;
    font-weight: 100;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 100px;
}
/* Responsive */
@media (max-width: 767.98px) {
    .sidebar {
        display: none;
    }

    .navbar {
        display: block;
    }
}

@media (min-width: 768px) {
    .navbar {
        display: none;
    }

    .sidebar {
        display: block;
    }
}
