/* General*/
body {
    line-height: 1.6;
    background-color: #f1faee;
    color: black;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

/* Sidebar */
.sidebar {
    margin: 10px;
    margin-bottom: 30px;
    transition: all 0.3s;
    background-color: #FAFFC4;
    border-radius: 10px;
}

.sidebar .nav-link {
    margin-top: 10px;
    padding: 0;
    color: #000000;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    gap: 10px;
}

.sidebar .nav-link:hover {
    font-weight: 700;
    border: 1px solid black ;
    border-radius: 10px;
}

.sidebar img {
    max-width: 100%;
    height: auto;
}

/* Navbar */
.navbar {
    transition: all 0.3s;
}

.navbar-nav .nav-link {
    display: inline-block;
    margin-top: 10px;
    padding: 0;
    color: #000000;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}

.navbar-nav .nav-link:hover {
    color: black;
    font-weight: 600;
    border: 1px solid black ;
    border-radius: 10px;
}

/* Section */
section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Introduction */
.intro {
    font-family: 'Times New Roman', Times, serif;
    color: #000000;
    text-align: left;
    font-size: 2.5em;
}
.carousel-inner {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}

.carousel-item img {
    height: 200px;
    object-fit: cover;
    width: 100%;
}

.carousel-control-prev,
.carousel-control-next {
    width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 10px;
}
.fonts{
    font-family: 'Courier New', Courier, monospace;
}
/* Responsive */
@media (max-width: 767.98px) {
    .sidebar {
        display: none;
    }

    .navbar {
        display: block;
    }
}

@media (min-width: 768px) {
    .navbar {
        display: none;
    }

    .sidebar {
        display: block;
    }
}
